 {% extends "base.html" %}
 {% block title %}
    Profile
 {% endblock %}
 {% block content %}
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Company</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Full Name</h5>
                  <p class="small fst-italic full_name"></p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Telegram</div>
                    <div class="col-lg-9 col-md-8" >
                        <span class="telegram"></span>
                </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">
                        <span class="address_cust"></span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone Number</div>
                    <div class="col-lg-9 col-md-8">
                        <span class="phone_no_cust"></span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">City</div>
                    <div class="col-lg-9 col-md-8">
                        <span class="city"></span>
                    </div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form class="update-company reg-customer" id="update">
                    
                    
                    <div class="col-md-12">
                      <label for="full_name" class="form-label">full Name</label>
                      <input type="text" name="full_name" class="form-control full_name" id="full_name">
                    </div>
                    <div class="col-12">
                      <label for="telegram" class="form-label">Telegram</label>
                      <input type="text" name="telegram" class="form-control telegram" id="telegram" placeholder="@username">
                    </div>
                    <div class="col-12">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" name="address" class="form-control address_cust" id="address" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-12">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" name="phone_no" class="form-control phone_no_cust" id="phone_no" placeholder="0912131415">
                    </div>
                    <div class="col-md-4">
                      <label for="city" class="form-label">City</label>
                      <select name="city" id="city" class="form-select" data-live-search="true">
                        <option selected disabled>Choose a town in Addis Ababa</option>
                        <option value="Ayat">Ayat</option>
                        <option value="Summit 72">Summit 72</option>
                        <option value="Summit fiyel bet">Summit fiyel bet</option>
                        <option value="Megenagna">Megenagna</option>
                        <option value="Piasa">Piasa</option>
                        <option value="CMC">CMC</option>
                        <option value="Bole">Bole</option>
                        <option value="Kazanchis">Kazanchis</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Sarbet">Sarbet</option>
                        <option value="Meskel Square">Meskel Square</option>
                        <option value="Gotera">Gotera</option>
                        <option value="Goro">Goro</option>
                        <option value="Piassa">Piassa</option>
                        <option value="Kera">Kera</option>
                        <option value="Lideta">Lideta</option>
                        <option value="Yeka">Yeka</option>
                        <option value="Kirkos">Kirkos</option>
                        <option value="Kolfe">Kolfe</option>
                        <option value="Bambis">Bambis</option>
                        <option value="Nifas Silk">Nifas Silk</option>
                        <option value="Bole Bulbula">Bole Bulbula</option>
                        <option value="Gulele">Gulele</option>
                        <option value="Arat Kilo">Arat Kilo</option>
                        <option value="Merkato">Merkato</option>
                        <option value="Saris">Saris</option>
                        <option value="Entoto">Entoto</option>
                        <option value="Kotebe">Kotebe</option>
                        <option value="Gurage">Gurage</option>
                        <option value="Leghar">Leghar</option>
                        <option value="Sileshi">Sileshi</option>
                        <option value="Tulba">Tulba</option>
                        <option value="Yeka Terara">Yeka Terara</option>
                      </select>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                      <button id="delete" class="btn btn-danger">Delete</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
 {% endblock %}
 {% block script %}
  <script type="module" src="../static/js/customer/customer.js?{{ cache_id }}"></script>
{% endblock %}