{% extends "base.html" %}
{% block title %}
    Product list
{% endblock %}

{% block head %}
<link rel="stylesheet" href="../../static/css/image.css?{{ cache_id }}"/> 
{% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Product</li>
          <li class="breadcrumb-item active">Lists</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

            <div class="card overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Table with hoverable rows</h5>
    
                  <table id="example" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                      </tr>
                    </thead>
                    <tbody id="customer-list">
                      <tr>
                        <td>
                          <img src="../../static/img/cream.jpg" alt="Profile 1" class="table-img">
                        </td>
                        <td>Somebarand creame</td>
                        <td>34</td>
                        <td>21.00 BR</td>
                        <td>Beauty & Personal Care</td>
                        <td>On hand</td>
                        <td><a href="#" class="btn btn-primary btn-sm"><i class="bi bi-upload"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with hoverable rows -->
                  <br/>
                </div>
              </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
{% block script %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script type="module" src="../../static/js/inventory/inventory_list.js?{{ cache_id }}"></script>
{% endblock %}