 {% extends "base.html" %}
 {% block title %}
    Profile
 {% endblock %}
 {% block content %}
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Inventory</li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="../../static/img/cream.jpg"  alt="Profile" class="rounded-circle image_updt">
              <h2 class="product"></h2>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Product Name</h5>
                  <p class="small fst-italic product"></p>

                  <h5 class="card-title">Product Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">quantity</div>
                    <div class="col-lg-9 col-md-8" >
                        <span class="quantity"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">price</div>
                <div class="col-lg-9 col-md-8" >
                    <span class="price"></span>
            </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Status</div>
                <div class="col-lg-9 col-md-8" >
                    <span class="status"></span>
            </div>
              </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Category</div>
                    <div class="col-lg-9 col-md-8">
                        <span class="catagory"></span>
                    </div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form class="create-prod" id="update">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img class="image_updt" src="../../static/img/cream.jpg" alt="Profile">
                        <div class="pt-2">
                            <input name="image" type="file" class="form-control" id="image" >
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="name" class="col-md-4 col-lg-3 col-form-label">Product Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="product" type="text" class="form-control product_updt" id="product" >
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="description" class="col-md-4 col-lg-3 col-form-label">Quantity</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="quantity" type="number" class="form-control quantity_updt" id="quantity" >
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="description" class="col-md-4 col-lg-3 col-form-label">Price</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="price" type="float" class="form-control price" id="price" >
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="status" class="col-md-4 col-lg-3 col-form-label">Product status</label>
                      <div class="col-md-8 col-lg-9">
                        <select id="status" name="status" class="form-select status_updt" data-live-search="true">
                          <option value="On hand">On hand</option>
                          <option value="Order">Order</option>
                          </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="description" class="col-md-4 col-lg-3 col-form-label">Catagoriy</label>
                      <div class="col-md-8 col-lg-9">
                        <select id="catagory" name="catagory" class="form-select catagory_updt" data-live-search="true">
                          <option value="Electronics">Electronics</option>
                          <option value="Books">Books</option>
                          <option value="Clothing">Clothing</option>
                          <option value="Home & Kitchen">Home & Kitchen</option>
                          <option value="Beauty & Personal Care">Beauty & Personal Care</option>
                          <option value="Sports & Outdoors">Sports & Outdoors</option>
                          <option value="Automotive">Automotive</option>
                          <option value="Toys & Games">Toys & Games</option>
                          <option value="Office Supplies">Office Supplies</option>
                          <option value="Health & Household">Health & Household</option>
                          <option value="Pet Supplies">Pet Supplies</option>
                          <option value="Tools & Home Improvement">Tools & Home Improvement</option>
                          <option value="Baby Products">Baby Products</option>
                          <option value="Movies & TV">Movies & TV</option>
                          <option value="Grocery & Gourmet Food">Grocery & Gourmet Food</option>
                          <option value="Arts, Crafts & Sewing">Arts, Crafts & Sewing</option>
                          <option value="Industrial & Scientific">Industrial & Scientific</option>
                          <option value="Luggage & Travel Gear">Luggage & Travel Gear</option>
                          <option value="Musical Instruments">Musical Instruments</option>
                          <option value="Software">Software</option>
                          <option value="Video Games">Video Games</option>
                          <option value="Jewelry">Jewelry</option>
                          <option value="Watches">Watches</option>
                          <option value="Garden & Outdoor">Garden & Outdoor</option>
                          <option value="Cell Phones & Accessories">Cell Phones & Accessories</option>
                          </select>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
 {% endblock %}
 {% block script %}
  <script type="module" src="../../static/js/inventory/inventory.js?{{ cache_id }}"></script>
{% endblock %}