{% extends "base.html" %}
{% block title %}
    Order list
{% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Order</li>
          <li class="breadcrumb-item active">Lists</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

            <div class="card overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Table with hoverable rows</h5>
    
                  <table id="example" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">TXN number</th>
                        <th scope="col">Customer name</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Order process</th>
                        <th scope="col">Update</th>
                      </tr>
                    </thead>
                    <tbody id="order-list">
                      <tr>
                        <td>5rYKpOHdPwMN</td>
                        <td>Brandon Jacob</td>
                        <td>Nuttela</td>
                        <td>Processing</td>
                        <td>25% paid</td>
                        <td><a href="#" class="btn btn-primary btn-sm"><i class="bi bi-upload"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with hoverable rows -->
                  <br/>
                </div>
              </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
{% block script %}
<script type="module" src="../../static/js/jquery.dataTables.min.js?{{ cache_id }}"></script>
<script type="module" src="../../static/js/dataTables.bootstrap4.min.js?{{ cache_id }}"></script>
<script type="module" src="../../static/js/order/order_list2.js?{{ cache_id }}"></script>
{% endblock %}