{% extends 'base.html'%}

{% block title %}
 Order
 {% endblock %}

 {% block content %}
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Cards</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Order</li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-6">

          <!-- Default Card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Order</h5>
              <div class="show active profile-overview" id="profile-overview">
                <h5 class="card-title">Order Details</h5>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Customer name</div>
                  <div class="col-lg-7 col-md-6" >
                      <span class="customer"></span>
              </div>
                </div>

                <div class="row">
                  <div class="col-lg-5 col-md-6 label">Transaction number</div>
                  <div class="col-lg-7 col-md-6">
                      <span class="txn_no"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Ordered date</div>
                  <div class="col-lg-7 col-md-6">
                      <span class="order_date"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Status of order</div>
                  <div class="col-lg-7 col-md-6">
                      <span class="status"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Total item price</div>
                  <div class="col-lg-7 col-md-6">
                      <span class="total_amt"></span>
                  </div>
                </div>

              </div>
            </div>
          </div><!-- End Default Card -->

          <!-- Default Card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Order</h5>
              <div class="show active profile-overview" id="profile-overview">
                <h5 class="card-title">Order process details</h5>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Status of Process</div>
                  <div class="col-lg-7 col-md-6" >
                      <span class="order_process"></span>
              </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Last processed</div>
                  <div class="col-lg-5 col-md-6">
                      <span class="process_date"></span>
                  </div>
                </div>

              </div>
            </div>
          </div><!-- End Default Card -->

          <!-- Default Card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Order</h5>
              <div class="show active profile-overview" id="profile-overview">
                <h5 class="card-title">Delivery details</h5>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Status of Delivery</div>
                  <div class="col-lg-7 col-md-6" >
                      <span class="delivery_status"></span>
              </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Delivery date</div>
                  <div class="col-lg-5 col-md-6">
                      <span class="delivery_date"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Location</div>
                  <div class="col-lg-5 col-md-6">
                      <span class="location"></span>
                  </div>
                </div>

              </div>
            </div>
          </div><!-- End Default Card -->

        </div>

        <div class="col-lg-6 products">

          <!-- Card with an image on left -->
          <div class="card mb-3 product-template d-none">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="../../static/img/cream.jpg" class="img-fluid rounded-start image" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ordered Product</h5>
                  <div class="show active profile-overview" id="profile-overview">
                    <h5 class="card-title">Order Details</h5>
    
                    <div class="row">
                      <div class="col-lg-6 col-md-6 label">Product name</div>
                      <div class="col-lg-6 col-md-6" >
                          <span class="product"></span>
                  </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-7 col-md-7 label">Ordered quantity</div>
                      <div class="col-lg-5 col-md-5">
                          <span class="quantity"></span>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-7 col-md-7 label">Price</div>
                      <div class="col-lg-5 col-md-5">
                          <span class="price"></span>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-7 col-md-7 label">Total Price</div>
                      <div class="col-lg-5 col-md-5">
                          <span class="total_price"></span>
                      </div>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->



        </div>



      </div>
    </section>

  </main>
{% endblock %}
{% block script %}
<script type="module" src="../../static/js/order/order_detail.js?{{ cache_id }}"></script>
{% endblock %}