{% extends "base.html" %}
{% block title %}
    Delivery list
{% endblock %}

{% block head %}
<link rel="stylesheet" href="../../static/css/image.css?{{ cache_id }}"/> 
{% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
          <li class="breadcrumb-item">Today Delivery</li>
          <li class="breadcrumb-item active">Lists</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card overflow-auto">
              
            <div class="card-body">
              <h5 class="card-title">Today delivery list</h5>
          
                <table id="example" class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Customer name</th>
                      <th scope="col">Delivery status</th>
                      <th scope="col">Delivery address</th>
                      <th scope="col">Delivery date</th>
                      <th scope="col">Update</th>
                    </tr>
                  </thead>
                  <tbody id="delivery-list">
                   </tbody>
                </table>
                
                <br/>
              </div>
            </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
{% block script %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script type="module" src="../../static/js/delivery/delivery_list1.js?{{ cache_id }}"></script>
{% endblock %}