{% extends "base.html" %}
{% block title %}
   Delivery
{% endblock %}
{% block content %}
<main id="main" class="main">

   <div class="pagetitle">
     <h1>Delivery</h1>
     <nav>
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
         <li class="breadcrumb-item">Company</li>
         <li class="breadcrumb-item active">Delivery</li>
       </ol>
     </nav>
   </div><!-- End Page Title -->

   <section class="section profile">
     <div class="row">
       <div class="col-xl-8">
         <div class="card">
           <div class="card-body pt-3">
             <!-- Bordered Tabs -->
             <ul class="nav nav-tabs nav-tabs-bordered">

               <li class="nav-item">
                 <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
               </li>

               <li class="nav-item">
                 <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Delivery</button>
               </li>

             </ul>
             <div class="tab-content pt-2">

               <div class="tab-pane fade show active profile-overview" id="profile-overview">
                 <h5 class="card-title">Full Name</h5>
                 <p class="small fst-italic full_name"></p>

                 <h5 class="card-title">Order Details</h5>

                 <div class="products">
                   
                 </div>
                

                 <div class="row">
                   <div class="col-lg-3 col-md-4 label">Total amount</div>
                   <div class="col-lg-9 col-md-8">
                       <span class="total_amnt"></span>
                   </div>
                 </div>

                 <div class="row">
                   <div class="col-lg-3 col-md-4 label">Status</div>
                   <div class="col-lg-9 col-md-8">
                       <span class="status"></span>
                   </div>
                 </div>

                 <div class="row">
                    <div class="col-lg-3 col-md-4 label">Delivery date</div>
                    <div class="col-lg-9 col-md-8">
                        <span class="delivery_date"></span>
                    </div>
                  </div>
 
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Delivery status</div>
                    <div class="col-lg-9 col-md-8">
                        <span class="delivery_status"></span>
                    </div>
                  </div>

                 <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">
                        <span class="location"></span>
                    </div>
                  </div>

               </div>

               <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                 <!-- Profile Edit Form -->
                 <form class="update-company reg-customer" id="update">
                   
                    <div class="row mb-3">
                        <label for="location" class="form-label">Address</label>
                        <input type="text" name="location" class="form-control" id="location" >
                      </div>

                   <div class="row mb-3">
                     <label for="delivery_date" class="form-label">Delivery status</label>
                     <input type="date" name="delivery_date" class="form-control" id="delivery_date" >
                   </div>
                   
                   <div class="row mb-3">
                    <label for="delivery_status" class="col-md-4 col-lg-3 col-form-label">Delivery status</label>
                    <div class="col-md-8 col-lg-9">
                      <select id="delivery_status" name="delivery_status" class="form-select" data-live-search="true">
                        <option value="Ready for delivery">Ready for delivery</option>
                        <option value="Delivered">Delivered</option>
                        </select>
                    </div>
                  </div>

                   <div class="text-center">
                     <button type="submit" class="btn btn-primary">Save Changes</button>
                   </div>
                 </form><!-- End Profile Edit Form -->

               </div>

             </div>

           </div>
         </div>
       </div>
     </div>
   </section>

 </main><!-- End #main -->
{% endblock %}
{% block script %}
 <script type="module" src="../../static/js/delivery/delivery_update.js?{{ cache_id }}"></script>
{% endblock %}