 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js?{{ cache_id }}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js?{{ cache_id }}"></script>
<script src="../static/vendor/chart.js/chart.umd.js?{{ cache_id }}"></script>
<!-- Template Main JS File -->
<script src="../static/js/main.js?{{ cache_id }}"></script>
