<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{{ url_for('dashboard') }}">
        <i class="bi bi-grid"></i>
        <span>Maleda Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Customer</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('customer_list')}}">
            <i class="bi bi-person-plus"></i><span>Cusomter List</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Order</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('create_order') }}">
            <i class="bi bi-circle"></i><span>Create Order</span>
          </a>
        </li>
      </ul>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('order_list') }}">
            <i class="bi bi-circle"></i><span>Order List</span>
          </a>
        </li>
      </ul>
      </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bag-check-fill"></i><span>Product</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('create_product') }}">
            <i class="bi bi-bag-check-fill"></i><span>Create Product</span>
          </a>
        </li>
      </ul>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('product_list') }}">
            <i class="bi bi-bag-check-fill"></i><span>Product list</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="ri-car-fill"></i><span>Delivery</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('delivery_list') }}">
            <i class="bi bi-circle"></i><span>Delivery list</span>
          </a>
        </li>
        
      </ul>

      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('delivery_today_list') }}">
            <i class="bi bi-circle"></i><span>Today delivery list</span>
          </a>
        </li>
        
      </ul>
    </li>

  </ul>

</aside><!-- End Sidebar-->